/*Reset Styles*/
* {
  margin: 0;
  padding: 0;
}

/* Styles General*/
.bg-acua {
  background-color: #067185;
}

.bg-acua-dark {
  background-color: #015C65;
}

.bg-dark-blue {
  background-color: #012b38;
}

.bg-green {
  background-color: #028371;
}

.bg-green-f {
  background-color: #89d335;
}

.bg-black-op{
  background-color: #00000074;
}

.bg-gray{
  background-color:#E0EEF1;
}


.text-main {
  color: #5c5c5f;
}

.text-acua {
  color: #14A296;
}

.text-green-f {
  color: #89d335;
}

.vertical-line {
  border: none;
  border-left: 1px solid #fff;
  width: 1px;
  height: 20px;
}

.rounded-car {
  border-radius: 10px 10px 10px 10px;
}

.rounded-top-car {
  border-radius: 10px 10px 0 0;
}

.input {
  height: 40px;
}



.fs-responsive-m{
  font-size: calc(0.5em + 0.7vw) 
}

.fs-responsive-s{
  font-size: calc(0.5em + 0.5vw) 
}

.fs-responsive-xs{
  font-size: calc(0.4em + 0.4vw)  
}

.fs-responsive-l{
  font-size: calc(1em + 0.5vw) 
}

.fs-responsive-xl{
  font-size: calc(1.2em + 1vw) 
}

.topN15px{
  top:-15px;
}

.top-75{
  top:75%;
}

.start-75{
  left: 75%;
}

.z-index{
  z-index: 1000;
}

.hr-car {
  opacity: 100;
  margin: 0;
  padding-top: 3px;
  border-radius: 3px;
}

.hr-type-one {
  width: 70%;
}

.hr-type-two {
  width: 29.5%;
}

.border-dashed {
  border-style: dashed !important;
}

.mb-1px{
  margin-bottom: 1px;
}

.bg-counter-trees{
  background-image: url("/src/assets/img/FondoBannerContadorDeArboles.svg");
  background-size: cover;
}
/*Styles header*/
.input-header {
  width: 130px;
  text-align: right;
  border-radius: 10px;
  
}

.input-header::placeholder{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 600; 
}



/*Styles for menu*/

.menu-item:hover {
  background-color: #89d335;
  text-shadow: 1px 1px 2px black;
}

.subSubItem:hover{
background-color: #f2f2f2 !important
}


/*Styles HomePage */
.Btn-News {
  border-radius: 20px;
  height: 14px;
  background-color: #015a52;
  width: 40%;
  left: calc(100% - 40%);
}

.Btn-News .type2 {
  background-color: #9fe047;
  width: 45%;
}

.Btn-News .type3 {
  background-color: #89d335;
  width: 70%;
}
/* Styles for NestedDrowpdown TODO: Implementar el nested drowpdown*/  
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

/* Styles menuS */
